<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> Patient Consult Service </title>
        <link rel="stylesheet" href="css/index.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur{{name}} adipisicing elit. Ullam dolorum quod, unde adipisci, repellendus, minima deleniti officia laboriosam molestias eius nobis dolores eligendi accusamus recusandae vitae. Perferendis officia ab qui?</p>
        <p id="user">{{name}}</p>
        <p id="udate">{{iddate}}</p>
        <p id="umonth">{{idmonth}}</p>

        <div class ="popup" id="popup" >
            <h1>Wishing you a very</h1>
            <h1>happy birthday</h1>
            <h2> {{name}}</h2>
            <p>you details are hear</p>
            <button type ='button' onclick="closepopup()">OK</button>
        </div>
    </div>
<script src="js/index.js"></script>
</body>
</html>